[submodule "src/lib/geogram/third_party/amgcl"]
	path = src/lib/geogram/third_party/amgcl
	url = https://github.com/ddemidov/amgcl.git
[submodule "src/lib/third_party/glfw"]
	path = src/lib/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/lib/geogram_gfx/third_party/imgui"]
	path = src/lib/geogram_gfx/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/lib/geogram/third_party/libMeshb"]
	path = src/lib/geogram/third_party/libMeshb
	url = https://github.com/LoicMarechal/libMeshb.git
[submodule "src/lib/geogram/third_party/rply"]
	path = src/lib/geogram/third_party/rply
	url = https://github.com/diegonehab/rply.git
