[submodule "src/lib/geogram/third_party/amgcl"]
	path = src/lib/geogram/third_party/amgcl
	url = https://github.com/ddemidov/amgcl.git
[submodule "src/lib/third_party/glfw"]
	path = src/lib/third_party/glfw
	url = https://github.com/glfw/glfw.git
